<div class="bg" id="books">
</div>

<div class="row hero">
  <div class="medium-8 medium-offset-2 columns">
    <form ng-submit="submit()">
      <div class="row collapse">
        <div class="small-9 columns">
          <input type="text" placeholder="word" ng-model="term">
        </div>
        <div class="small-3 columns">
          <a href="javascript:void(0);" class="button postfix" ng-click="submit()">Look up</a>
        </div>
      </div>   
    </form>
  </div>
</div>

<div class="row hero">
	<div class="medium-8 medium-offset-2 columns">
    <a class="button expand" href="javascript:void(0)" ng-click="store()">+ Add {{term}} to word list</a>
  </div>
</div>

<div class="row hero">
  <div class="medium-8 medium-offset-2 columns full-width-mobile">
    <div class="panel definition-list">
      <ol>
        <li ng-repeat="def in definitions" mw-entry definition="def">
        </li>
      </ol>
    </div>
  </div>
</div>
